table_extraction/__pycache__/
table_extraction/__pdfs__/*
table_extraction/env/
table_extraction/annotation/*
table_extraction/table_dataset/*
table_extraction/*.pdf
table_extraction/*.log
test/.vscode
test/.idea
test/config.ini
test/env/
test/*metadata.json
test/*.~lock*
test/*.swp
test/.csv#
test/.env
test/*.pyc
test/dataset/*